/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#container {
    width: 1000px;
    min-height: 600px;
    margin: auto auto;
    background: #fefefe;
    padding: 0 20px;
}

#dental_title {
    float: left;
    font-size: 26px;
    padding-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 0px;

}

nav {
    width: 600px;
    border-right: none;
    float: right;
    margin-bottom: 30px;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    /*width: 16.6667%; *//* fallback for non-calc() browsers */
    width: 25%;
    box-sizing: border-box;
}


nav ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px 0;
    margin: 0 5px;
    font-size: 18px;
}

nav ul li a.selected {
    border-bottom: solid #ff64b6;
}

nav ul li a:hover {
    border-bottom: solid #ff64b6;
}

.clear {
    clear: both;
}


a.page-icon {
    float:right;
    width: 30px;
    color: #808285;
    padding: 5px 20px 0 0;
}

a.page-icon:hover {
    color: #ff64b6;
}

a.patient_page_icon {
    width: 30px;
    color: #808285;
    padding: 5px 20px 0 0;
}

a.patient_page_icon:hover {
    color: #ff64b6;
}

#icons {
    float: right;
    font-size: 20px;
    padding: 5px 5px 20px 0;
    text-align: center;
}

#make_appointment {
    float: right;
    width: 200px;
    background: #14a305;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #438e34;
    text-align: center;
}
#download_link {
    float: right;
    width: auto;
    background: #14a305;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #438e34;
}

#image_container {
    position: relative;
    height: 600px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#image_container_services {
    position: relative;
    height: 350px;
    padding: 0;
    margin: 0;
}

#image_container_services img{
    width: 100%;
}

#image_overlay {
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    height: 200px;
    background: rgba(10, 10, 10, 0.75);
    color: #ffffff;

}

.image-overlay-item {
    /*background: rgba(255, 255, 255, 0.3);*/
    width: 270px;
    height: 130px;
    margin: 30px 0 30px 30px;
    color: #eeeeee;
    padding: 10px 10px 0 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #757575;
    float: left;
}

.image-overlay-item span {
    font-weight: 500;
    font-size: 22px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    color: #ffffff;
}

.image-overlay-item a {
    text-decoration: none;
    color: #ffffff;
}

.image-overlay-item .left {
    width: 20%;
    height: 70px;
    float: left;
    text-align: right;
}

.image-overlay-item .right {
    width: 70%;
    height: 70px;
    float: right;
    margin-left: 5px;
}

#services-offered {
    width: 100%;
    height: 280px;
    /*background: #eee;*/
}

.services-offered-item {
  float: left;
  width: 270px;
  height: 300px;
  overflow: hidden;
  padding-right: 20px;
  text-align: center;
  /*border-radius: 300px;*/
  padding: 0 10px 0 10px;
  margin: 30px 0 30px 30px;
}

.services-offered-item img {
    max-width: 90%;
    position: relative;
    border-radius: 150px;
}

.services-offered-item img:hover {
  background: rgba(0, 0, 0, .2);
}

.services-offered-item p {
  position: relative;
  margin-bottom: 0;
  top: -10px;
  left: 0;
  width: 100%;
}

.services-offered span:hover {
  color: white;
}

.services-offered-item p span{
  color: #6bc4ff;
  font: light 22px roboto;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
}


#services-offered a {
    text-decoration: none;
    color: #5b5b5b;
    display: block;
    /*padding: 10px;*/
    font-size: 20px;
}

#directions {
    color:red;
}

#services_container {
    background: rgba(238, 238, 238, 0.7);
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
}

.services_section {
    width: 270px;
    height: 360px;
    color: #000000;
    padding: 10px 10px 0 10px;
    margin: 20px 0 20px 30px;
    float: left;
    text-align: left;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.5);
}

.services_section ul {
    padding: 15px;
}

.services_section li {
    list-style-type: circle;
    font-size: 14px;
    line-height: 26px;
    /*border-bottom: 1px solid #808080;*/
}

.services_section a:hover {
   color: red;
}


.services_section h3 {
    color: #4B5769;
    text-align: center;
}



#patient_image_overlay {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    height: 100%;
    background: rgba(10, 10, 10, 0.75);
    color: #ffffff;

}

.patient-image-overlay-item {
    margin: 20px;
    color: #ffffff;
    padding: 10px 10px 0 10px;
}

.patient-image-overlay-item span {
    font-weight: 300;
    font-size: 22px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    color: #6bc4ff;
}


#patient_container {
    position: relative;
    height: 420px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#patient_container img{
    width: 1050px;
}



#patient_special_container {
    padding: 20px;
    height: 220px;
    background: rgba(238, 238, 238, 0.7);
}


.special_section {
    width: 270px;
    height: 200px;
    color: #000000;
    padding: 10px 12px 0px 12px;
    margin: 0px 10px 0px 10px;
    float: left;
    text-align: center;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 1.0);
}

.special_section ul {
    padding: 15px;
}

.special_section li {
    list-style-type: circle;
    font-size: 14px;
    line-height: 26px;
    /*border-bottom: 1px solid #808080;*/
}

.special_section a:hover {
   color: #ff64b6;
}


.special_section h3 {
    color: #000000;
    text-align: center;
}


#education_sidebar {
    padding-left: 10px;
    width: 33%;
    float: left;
    background: #eee;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    line-height: 2;
    font-size: 14px;
}

#education_sidebar a {
    color: #000000;
    text-decoration: none;
}

#education_sidebar a:hover {
    /*background-color: #c4c4c4;*/
    font-weight: bolder;
}

#education_sidebar ul {
    padding-left: 20px;
}


#education_sidebar li {
    list-style: none;
}
/*#education_sidebar ul link:hover{
  background-color: red;
}*/


#education_content {
    width: 63%;
    float: right;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}

#about_container {
    position: relative;
    height: 420px;
    overflow: hidden;
    padding: 0;
    margin: 0;
 }

#about_container img{
    width: 100%;
}

#about-icons {
    width: 100%;
    height: 280px;
    /*background: #eee;*/
}

.about-icons-item {
  float: left;
  width: 270px;
  height: 244px;
  overflow: hidden;
  padding-right: 20px;
  text-align: center;
  /*border-radius: 300px;*/
  padding: 0 10px 0 10px;
  margin: 30px 0 30px 30px;
}

.about-icons-item img {
    max-width: 60%;
    position: relative;
    border-radius: 150px;
}
.about-icons-item h3 {
  color: #5b5b5b;
}

.profile_picture {
  width: 300px;
  float: left;
}

.profile_picture img{
  max-width: 100%;
}

.text-block {
  width: 600px;
  padding: 0 0 0 20px;
  float: left;
}

.text-block p{
  max-width: 600px;
}

.affiliations{
  width: 100%;
}

.affiliations img{
  max-width: 90px;
  padding-left: 20px;
}

.offices{
  width:100%;
}

.offices img{
  max-width: 470px;
  padding: 18px 12px;
}


#footer_container{
    background-color: #808285;
    height: 200px;
    width: 100%;
    clear: both;
}
#footer {
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
    margin: 10px 180px 10px 180px;

}

.footer_section {
  float: left;
  text-decoration: none;
  padding: 0 40px 0 40px;
  list-style-type: none;
}

.developed_by {
  color: #fff;
  font-size: 11px;
  font-weight: lighter;
  text-align: center;
  background-color: #808285;
  width: 100%;
  clear: both;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
